@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: black;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    padding: 10px 200px;
    align-items: center;
}
.logo{
    text-decoration: none;
    text-transform: uppercase;
    color: crimson;
    font-weight: 700;
    font-size: 1.8rem;
}
.navigation a{
    color: crimson;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}
.navigation a:hover{
    color: maroon;
}
section{
    padding: 100px 200px;
}
.port{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
background-image: url(images/site.jpg);

}
.port h1{
    font-size: 20px;
    font-weight: 400;
    color: wheat;
}
.port h1 span{
    color: crimson;
    font-size: 3rem;
    font-weight: 500;
    display: inline-block;
    margin-top: 10px;
}
.port h2 {
    color: wheat;
    font-size: 1.8rem;
    letter-spacing: 1px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main{
    color: wheat;
    text-decoration: none;
    background-color: crimson;
    font-size: 1.1em;
    font-weight: 600;
    padding: 0.9375em 2.1875em;
    border-radius: 15px;
    letter-spacing: 1px;
    margin-bottom: 40px;
    display: inline-block;
}
.main:hover {
     background-color: maroon;
     transform: scale(1.1);
}
.icons img{
    color: wheat;
    margin-right: 2rem;
    width: 2.5rem;

}
.icons img:hover{
    color: maroon;
    transform: scale(1.1);

}
.title{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 40px;
    color: crimson;
    margin-bottom: 100px;
}
.content{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 18px;
}
.cards{
    background-color: rosybrown;
    width: 21.25rem;
    border-radius: 12px;
    padding:15px;
    margin: 25px;
    display: flex;
}
.cards:hover{
    transform: scale(1.1);
 }

.ic{
        display: flex;
        justify-content: center;
        font-size: 100px;
        color:  crimson;
    }
.information h2{
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: crimson;
    font-weight: 700;
    margin: 10px;
    letter-spacing: 2px;
}
.information p{
    font-size: 20px;
    font-weight: 500;
}
.font{
    width: 100%;
background-color: black;
}
.ti{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 40px;
    color: crimson;
    margin-bottom: 100px;
}
.con{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    padding: 2.5rem 2.5rem;
    justify-content: space-between;
    margin-left: 11.5rem;
    border: 6px black solid;
    border-radius: 25px;
    

}
.ic img{
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 12px;
    margin-bottom: 40px;
    margin-top: 40px;

}
.ic img:hover{
    color: maroon;
    transform: scale(1.1);
}
.fo{
    width: 100%;
    background-color: black;
}
.nih h1{
    color: crimson;
    font-size: 1.5rem;
    font-weight: 800;
}
.wath img{
    width: 30px;
    margin: 10px;
    margin-left: 25px;
}
.nih h1{
    margin: 25px;
}
.tele{
    width: 100%;
    color: crimson;
}
.tele h1{

}
